*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #39297b;
    color: #ffff;
}

h1 {
    text-align: center;
    margin: 30px auto 50px;
    font-weight: 600;
}

form {
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    display: flex;
    background-color: #434989;
    border-radius: 10px;
}

form input {
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background:transparent;
    color: #fff;
    font-size: 18px;
    padding: 0px 30px;
}

form button {
    width: 100px;
    /* padding: 0px 40px; */
    height: 100%;
    background:#bd3b32;
    outline: 0;
    border: 0;
    font-size: 18px;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
::placeholder {
    color: #fff;
    font-size: 18ppx;
}

#showMoreBtn {
    background-color: #ff3929;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 20px auto 100px;
    cursor: pointer;
    display: none;
}

#searchResult {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

#searchResult img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}
